<nav class="navbar">
    <div class="container-fluid">
      
        <div>
            <a href="#" class="navbar-brand">Recipe Booka</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Recipies</a></li>
                <li><a href="#">Shopping list</a></li>
            </ul>
            <ul class="nav navbar-nav justify-content-end">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Serving Data</a></li>
                        <li><a href="#">Fetching Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
   
    </div>
</nav>