nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerRecipies {
    padding-right: 10px;
}

.headerDropDown {
    margin-right: 60px;
    margin-top: 10px;
}