<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="embed-responsive RecipeDetailImg">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Upravljaj receptima</button>
      <ul class="dropdown-menu">
        <li><a href="#">Dodaj u korpu</a></li>
        <li><a href="#">Izmeni recept</a></li>
        <li><a href="#">Obrisi recept</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    SASTOJCI
  </div>
</div>

