<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="embed-responsive RecipeDetailImg">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1 appDropdown>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Upravljaj receptima
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item dodajLink" (click)="onAddIngredients()">Dodaj u korpu</a>
        <a class="dropdown-item" href="#">Izmeni recept</a>
        <a class="dropdown-item" href="#">Obrisi recept</a>
      </div>
    </div>
  </div>
</div>
<div class="row textBeneathDropDown">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let sastojak of recipe.ingredients">
        {{sastojak.name}} - {{sastojak.amount}}
      </li>
    </ul>
  </div>
</div>

