<div class="row" style="margin:0">
  <form>
    <div class="row">
    <div class="col-sm-8 form-group">
      <label for="name">Naziv:</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="col-sm-4 form-group">
        <label for="amount">Kolicina:</label>
        <input type="number" name="amount" id="amount" class="form-control">
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-dark">Dodaj</button>
      <button class="btn btn-dark">Obrisi</button>
      <button class="btn btn-dark">Reset</button>
    </div>
  </div>
  </form>
</div>
